body {
  font-family: 'Indie Flower', cursive;
  margin: 0;
  background-color: rgb(197, 164, 219);
}
main {
  text-align: center;
  border-color: black;
  height: fit-content;
  color: whitesmoke;
  background-color: black;
  background-image: radial-gradient(
    rgba(83, 28, 172, 0.75), black 120%
  );
 Padding: 30px;
  font-size: 25px;
border-style: solid;
  border-width: 5px;
  
width: fit-content;
 margin-left: 10%;
  margin-right: 10%;
}

/* Header/Logo Title border-radius: 50%;*/
.header {
  padding: 30px;
  text-align: center;
  background: rgb(119, 17, 187);
  color: white;
  font-size: 40px;
  font-family:'Shadows Into Light', cursive;
}

h3 {
  font-size: 50px;
  margin: 0;
  text-align: center;
  padding: 10px;
  
}
img {
   width: 300px;
  height: 300px;
  border-radius: 50%;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.a2 {
  
}

.title{
  padding: 20px;
}

.button {
  border: 3px solid blanchedalmond;
  color: white;
  display: inline-block;
  background-image: radial-gradient(
    rgba(209, 44, 99, 0.75), black 120%
  ); 
  font-size: 20px;
  padding: 2px;
  width: fit-content;
  text-align: center;
 
}

a:link {
  color:honeydew;
}
a:visited {
  color:rgb(228, 156, 210);
}
a:hover {
  color:aqua
}

footer {
 color: white;
 font-size: 20px;
  padding-left: 20px;
  font-style: bold;
}


